{% extends "base.html" %}

{% block title %} webtrack: {{project.name}} {% endblock %}

{% block content %}


	{% if messages %}
    	{% for message in messages %}
			{% if message.tags == 'error' %}
    			<div class="alert alert-danger">
			{% elif message.tags == 'warning' %}
				<div class="alert alert-warning">
			{% else %}
				<div class="alert alert-info">
			{% endif %}
							
    		<button type="button" class="close" data-dismiss="alert">&times;</button>
    			{{ message }}
    		</div>
    	{% endfor %}
	{% endif %}
	<h3>Project Dashboard: {{project.name}}</h3>
		<p>
			<a class="btn btn-default" href="/projects/">Back to Projects</a>
		{%if canEdit %} 
			<a class="btn btn-info" href="/projects/edit/{{project.id}}/">Edit Project</a>
			{% if project.active %}
			<a class="btn btn-warning" href="/projects/toggle/{{project.id}}/">Close Project</a>
			{% else %}
			<a class="btn btn-warning" href="/projects/toggle/{{project.id}}/">Re-open Project</a>
			{% endif %}
		{% endif %} 

			<span style="float:right;"	>
			<a class="btn btn-info" href="/projects/parents/{{project.id}}">Manage Parents</a>
	
			<a class="btn btn-info" href="/projects/children/{{project.id}}">Manage Subprojects</a>

			</span>

		</p>
	<br />
	<h4>Project Details 

			<em>(Managed by {{project.manager}})</em>
		</h4>
	<div class="well">

			<ul>
				<li>Status: {{project.status}}</li>
				<li>Phase: {{project.phase}}</li>
				<li>Lines: {{project.lines}}</li>
				<li>Description: {{project.description}}</li>
			</ul>
	</div>
	<h4>Project Members</h4>

			<table class="table table-striped">
			<tr>
				<th>Member</th>
				<th>Manage</th>
			</tr>

			{% for u in members %}

			<tr>
			<td>{{u}}</td>
			<td> {%if canEdit %} <a class="btn btn-danger" href="/projects/removemember/{{project.id}}/{{u.id}}/">Unassign</a> {%endif%}</td>
			</tr>
			{% endfor %}

			<tr>

			<td>

			<form id="addProjectMember" action="/projects/addmember/{{project.id}}/" method="POST">{% csrf_token %}

			{% for field in add_member_form %}

				{{field}}

			{% endfor %}

			</td>
			<td>{%if canEdit %}<input type="submit" class="btn btn-success" value="Assign">
						</form>{% endif %}

		</tr>


		</table>
	
	<h4>Recent Tasks {%if isMember and project.active %}<a href="/projects/addtask/{{project.id}}/">(Add)</a>{%endif%}</h4>
	<table class="table table-striped">
		<tr>
			<th>Summary</th>
			<th>Opened by</th>
			<th>Manage</th>
			<th>View</th>
		</tr>

	{% for t in tasks %}
		<tr>
			<td><a href="/projects/task/view/{{t.id}}">{{ t.summary }}</a></td>
			<td>{{t.creator}}</td>
			{% if project in t.openOn.all %}
				<td><a class="btn btn-warning" href="/projects/{{project.id}}/closetask/{{t.id}}/">Mark Completed</a></td>
			{% else %}
				<td><a class="btn btn-default" href="/projects/{{project.id}}/opentask/{{t.id}}/">Mark Unfinished</a></td>
			{% endif %}

			<td><a class="btn btn-info" href="/projects/task/view/{{t.id}}">View</a></td>

		</tr>

	{% endfor %}

	</table>
	<span style="align:right;"><a class="btn btn-success" href="/projects/task/viewall/{{project.id}}">Show All</a></span>

	<br />
	<br />
	<h4>Most Recent Worklogs {%if isMember and project.active %}<a href="/projects/addwork/{{project.id}}/">(Add)</a>{%endif%}</h4>
		<table class="table table-striped">
		<tr>
			<th>Summary</th>
			<th>Logged By</th>
			<th>Time</th>
			<th>View</th>
		</tr>

	{% for w in worklogs %}
		<tr>
			<td><a href="/projects/work/view/{{w.id}}/">{{w.summary}}</a></td>
			<td>{{w.owner}}</td>
			<td>{{w.datestamp}}</td>
			<td><a class="btn btn-info" href="/projects/work/view/{{w.id}}/">View</a></td>
		</tr>

	{% endfor %}

	</table>
	<span style="align:right;"><a class="btn btn-success" href="/projects/work/viewall/{{project.id}}">Show All</a></span>



{% endblock %}