{% extends "base.html" %}

{% block title %} webtrack: projects {% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'error' %}
      <div class="alert alert-danger">
    {% elif message.tags == 'warning' %}
      <div class="alert alert-warning">
    {% else %}
      <div class="alert alert-info">
    {% endif %}
            
    <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<h1><img src="/static/img/outline.png" />Panel View</h1>
<p>This view allows you to browse your projects in a side-by-side panel view of projects and subprojects</p>
<div class="container">
<div class="row equalHeight">
  <div class="span3 col-md-2">

  	{% if panel1 %}

  		{% if notfirst %}
    <h4><em><a href="/projects/view/{{selected0.id}}">{{selected0.name}}</a></em></h4>
      <li><a href="/projects/newsub/{{selected0.id}}"><img src="/static/img/project.png" width="24px" /><em>Add Subproject</em></a></li>
      <li><a href="/projects/addtask/{{selected0.id}}"><img src="/static/img/task.png" width="24px" /><em>Add Task</em></a></li><hr />
  		{% else %}
  		<h4><em>Projects</em></h4>
  		{% endif %}

  	{% endif %}

  		{% for p in panel1 %}

  		<li>
  			{% if selected1 and selected1 == p %}
  			<strong>
  			{% endif %}
  			<a href="/projects/outline/?pos={% if notfirst %}{{panel1pos}},{% endif %}{{p.id}}"><img src="/static/img/project.png" width="24px" />{{p.name}}</a>

  			{% if selected1 and selected1 == p %}
  			&#8594;</strong>
  			{% endif %}

  		</li>

  		{% endfor %}


	  	{% for t in panel1task %}

	  	<li>
	  		<img src="/static/img/task.png" width="24px" />{{t.summary}}
	  	</li>

	  	{% endfor %}

  </div>


  <div class="span3 col-md-2">

  		{% if selected1 %}

    <h4><em><a href="/projects/view/{{selected1.id}}">{{selected1.name}}</a></em></h4>
      <li><a href="/projects/newsub/{{selected1.id}}"><img src="/static/img/project.png" width="24px" /><em>Add Subproject</em></a></li>
      <li><a href="/projects/addtask/{{selected1.id}}"><img src="/static/img/task.png" width="24px" /><em>Add Task</em></a></li><hr />
  		{% endif %}

  		{% for p in panel2 %}

  		<li>
  			{% if selected2 and selected2 == p %}
  			<strong>
  			{% endif %}
  			<a href="/projects/outline/?pos={{panel2pos}},{{p.id}}"><img src="/static/img/project.png" width="24px" />{{p.name}}</a>

  			{% if selected2 and selected2 == p %}
  			&#8594;</strong>
  			{% endif %}

  		</li>

  		{% endfor %}

	  	{% for t in panel2task %}

	  	<li>
	  		<img src="/static/img/task.png" width="24px" />{{t.summary}}
	  	</li>

	  	{% endfor %}


  </div>


  <div class="span3 col-md-2">

  	  {% if selected2 %}
  		<h4><em><a href="/projects/view/{{selected2.id}}">{{selected2.name}}</a></em></h4>
      <li><a href="/projects/newsub/{{selected2.id}}"><img src="/static/img/project.png" width="24px" /><em>Add Subproject</em></a></li>
      <li><a href="/projects/addtask/{{selected2.id}}"><img src="/static/img/task.png" width="24px" /><em>Add Task</em></a></li><hr />

  		{% endif %}

  		{% for p in panel3 %}

  		<li>
  			{% if selected3 and selected3 == p %}
  			<strong>
  			{% endif %}
  			<a href="/projects/outline/?pos={{panel3pos}},{{p.id}}"><img src="/static/img/project.png" width="24px" />{{p.name}}</a>

  			{% if selected3 and selected3 == p %}
  			&#8594;</strong>
  			{% endif %}

  		</li>

  		{% endfor %}

	  	{% for t in panel3task %}

	  	<li>
	  		<img src="/static/img/task.png" width="24px" />{{t.summary}}
	  	</li>

	  	{% endfor %}

  </div>

</div>  
</div>

<br />
<br />

{% endblock %}