{% extends "base.html" %}

{% block title %} webtrack: projects {% endblock %}

{% block content %}

	{% if num_projects == 0 %}
		<p class="error">You are not a member of any projects.</p>
	{% endif %}

	<p><a href="/projects/create/">Create a Project</a> &nbsp;&nbsp;<a href="/projects/stats/lines/">Line Stats</a></p>

	{% for project in projects %}

		<div class="well well-small">
			<h4><a href="/projects/view/{{project.id}}">{{ project.name }}</a></h4>
			{% if project in owned %}
			<h5><em>You manage this project. </em><a href="/projects/edit/{{project.id}}/">Edit Details</a></h5>
			{% endif %}
			<ul>
				<li>Status: {{project.status}}</li>
				<li>Phase: {{project.phase}}</li>
				<li>Description: {{project.description}}</li>
				<li><a href="/projects/addwork/{{project.id}}/">Add worklog</a></li>
				<li><a href="/projects/task/viewall/{{project.id}}/">View Tasks</a></li>
				<li><a href="/projects/work/viewall/{{project.id}}/">View Worklogs</a></li>
			</ul>
		</div>
	{% endfor %}

{% endblock %}