{% extends "base.html" %}

{% block title %} webtrack: create project {% endblock %}

{% block content %}
<form id="registerForm" action="/projects/create/" method="post">{% csrf_token %} <!--Pass information back to the register url through the POST method-->
<h3>
	<img src="/static/img/project.png" />
	Create a Project

	{% if parent %}&nbsp;&nbsp;&nbsp;<input class="btn btn-success" name="useexisting" type="submit" value="Select an Existing Project Instead" />{% endif %}

</h3>


	{% for field in form %}
	<fieldset class="form-group">
		<label class="control-label" for="id_{{ field.name }}">{{ field.name }}</label>
		<input type="text" class="form-control"
		name="{{ field.name }}"
		id="id_{{ field.name }}"
		value="{{ field.value }}" > 
		<p class="help-text">{{ field.help_text }} </p>
	</fieldset>

	{% endfor %}
    <input name="parent" type="hidden" value="{{ parent }}" />
  <input name="returnUrl" type="hidden" value="{{ returnUrl }}" />

	<input id="registerButton" class="btn btn-danger btn-large" type="submit" value="Create" style="border-radius: 1px;" />

</form> <!--Close the form tag-->

{% endblock %}