{% extends "base.html" %}

{% block title %} Project List {% endblock %}

{% block content %}

{% include 'template_messages.html' %}

	<h1><img src="/static/img/project.png" />{{title}}</h1>


	<p class="pull-right">
		<a class="btn btn-success" href="/projects/create/">Create a Project</a>
		<a class="btn btn-info" href="/projects/filter/addprojecttag/">Filter Projects</a>

	</p>

	<div class="clearfix"></div>

	<div class="row">
		<div class='col-md-3 hidden-sm hidden-xs side-filters' style="margin-top:-30px;">
			<fieldset>
				<legend>Filters</legend>
				<ul class='nav nav-pills nav-stacked'>
					<p class="small">Click filters to turn them on and off</p>
					{% for t in tags %}

					<li class="{% if t in filters%}active{%endif%}">

						<a href=
						{% if t in filters %}
						"/projects/rmprojectfilter/{{t.id}}/"
						{% else %}
						"/projects/filter/addprojecttag/{{t.id}}/"
						{% endif %}

						>{{t.name}}</a>

					</li>

					{% endfor %}
					
		</ul>
	</fieldset>
</div>


<div class="col-md-9">

	<div class="panel panel-inverse">



    <div class="list-group">

    {% if num_projects == 0 %}
    	<div class="list-group-item" style="border-right: 0px; border-left: 0px;">
    		<h4 class="list-group-item-heading">No projects to show!</h4>

    		<p class="list-group-item-text">You may need to adjust your filter settings, or if you're new, <a href="/projects/create">start a new project</a>.</p>


    	</div>
	{% endif %}


	{% for project in projects %}

			{% if project in owned %}
			<!--<h5><em>You manage this project. </em><a href="/projects/edit/{{project.id}}/">Edit Details</a></h5>-->

			{% endif %}

				<div class="list-group-item" style="border-right: 0px; border-left: 0px;">



					<h4 class="list-group-item-heading"><a href="/u/{{project.manager}}/projects/{{ project.name }}/">{{project.manager}} / {{project.name}}</a>{% if not project.active %} <em>(Closed)</em>{% endif %}</h4>

					<div class="pull-right">
						{% if project in owned %}
						<a href="/projects/edit/{{project.id}}/"><img src="/static/img/edit.png" width="24px"/></a>
						{% endif %}
					</div>

					<div class="list-group-item-text">

						<p>{{ project.description }}</p>

						<img src="/static/img/work.png" width="24px" />
						<a href="/projects/work/viewall/{{project.id}}/">Worklogs</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<img src="/static/img/task.png" width="24px" />
						<a href="/projects/view/{{project.id}}/#tasks">Tasks</a>

					</div>

				</div>
	{% endfor %}


    </div>


	
</div>
</div>
</div>

{% endblock %}