{% extends "base.html" %}

{% block title %} webtrack: outline {% endblock %}

{% block content %}

  {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
          <div class="alert alert-danger">
      {% elif message.tags == 'warning' %}
        <div class="alert alert-warning">
      {% else %}
        <div class="alert alert-info">
      {% endif %}
              
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% if 'safe' in message.tags %}
        {{message|safe}}
        {% else %}
          {{ message }}
          {% endif %}
        </div>
      {% endfor %}
  {% endif %}

	<h1><img src="/static/img/outline.png" />Outline View</h1>


	<p>Shows your projects and tasks in a tree-style layout. Click the tree icon (<img src="/static/img/tree.jpg" width="24px" />) to view only a specific point in the tree.</p>
	<p><a href="/projects/create/">Create a Project</a></p>

	<hr />

	{% if num_projects == 0 %}
		<p>You are not a member of any projects or tasks. Get started by <a href="/projects/addtask/">creating a task</a> or <a href="/projects/create">starting a project</a>.</p>	
	{% endif %}



	<table class="table table-condensed table-striped">

	{% autoescape off %}

	{{treeHtml}}

	{% endautoescape %}

	</table>

{% endblock %}