{% extends "base.html" %}

{% block title %} webtrack: projects {% endblock %}

{% block content %}
{% include 'template_messages.html' %}

	{% if num_projects == 0 %}
		<p class="error">You are not a member of any projects.</p>
	{% endif %}

	<p><a href="/projects/create/">Create a Project</a> &nbsp;&nbsp;<a href="/projects/stats/lines/">Line Stats</a></p>

	<h3><img src="/static/img/project.png" />Project Statistics</h3>
	<div class="well">
		<p>You are involved with <strong>{{total_projects}} project(s)</strong>, where you <strong>manage {{managed_projects}}</strong>.</p>
		<ul>
			<li><a href="/projects/">Manage your projects</a></li>
			<li><a href="/projects/browser">Browse your projects and subprojects</a></li>
			<li><a href="/projects/create/">Create a new project</a></li>
		</ul>

	</div>

	<h3><img src="/static/img/task.png" />Task Statistics</h3>

	<div class="well">
		<p>In total, you've created <strong>{{total_tasks}}</strong> tasks, where <strong>{{active_tasks}} are in progress</strong>. <a href="/projects/usertasks">Manage tasks you've created</a></p>

		<p>You have <strong>{{numTasks}} todo items</strong>. <a href="/projects/todo/">Check out your workload</a></p>

	</div>

	<h3><img src="/static/img/work.png" />Work Statistics</h3>
	<div class="well">
		<p>You've created <strong>{{total_worklogs}} worklogs</strong>.</p>
		<p>In total, you've logged <strong>{{total_time}} hours of work</strong> on projects, averaging <strong>{{avg_task_time}} hours per task</strong>.</p>
		<p>You joined on {{start_date}} and your most recent contribution was on {{end_date}}.</p>

			{%if total_worklogs > 0 %}
			<ul>Latest Work Logged

				{%for t in tasks%}
				<li><a href="/projects/work/view/{{t.id}}/">{{t.summary}}</a> on {{t.project}}</li>
				{%endfor%}
			</ul>

			{%endif%}
	</div>


{% endblock %}