{% extends "base.html" %}

{% block title %} webtrack: projects {% endblock %}

{% block content %}

	{% if num_projects == 0 %}
		<p class="error">You are not a member of any projects.</p>
	{% endif %}

	<p><a href="/projects/create/">Create a Project</a> &nbsp;&nbsp;<a href="/projects/stats/lines/">Line Statistics</a></p>

	<table class="table table-striped">
		<tr>
			<th>Project</th>
			<th>Manager</th>
			<th>Status</th>
			<th>Worklogs</th>
			<th>Tasks</th>
		</tr>
	{% for project in projects %}

			{% if project in owned %}
			<!--<h5><em>You manage this project. </em><a href="/projects/edit/{{project.id}}/">Edit Details</a></h5>-->
			{% endif %}
			<tr>
				<td><a href="/projects/view/{{project.id}}">{{ project.name }}</a></td>
				<td>{{project.manager}}</td>
				<td>{{project.status}}</td>
				<!--<li>Description: {{project.description}}</li>-->
				<td><a href="/projects/work/viewall/{{project.id}}/">View Worklogs</a> / <a href="/projects/addwork/{{project.id}}/">Add worklog</a> </td>
				<td><a href="/projects/task/viewall/{{project.id}}/">View Tasks</a> / <a href="/projects/addtask/{{project.id}}/">Add Tasks</a></td>
			</tr>
		</div>
	{% endfor %}

	</table>

{% endblock %}