{% extends "base.html" %}

{% block title %} {{project.name}} {% endblock %}

{% block content %}


{% include 'template_messages.html' %}

		<div style="display:inline;">
			<div style="display:table-cell">
				<img src="/static/img/project.png" style="float: left"/>
				<h3 style="margin-bottom:0px;margin-top:5px;float:right;">
					<a href="/u/{{project.manager}}/">{{project.manager}}</a> / <a href="/u/{{project.manager}}/projects/">projects</a> / <strong>{{project.name}}</strong></h3>
				<h4 style="margin-top:0px;"><small>{{project.description|truncatechars:50}}</small></h4>
			</div>
		</div>

			<div style="float:right; display:inline;">
				{% if canEdit %}
				<a class="btn btn-success" href="/projects/edit/{{project.id}}/">Edit Settings</a>
				{% endif %}

			</div>

		<br />
		<br />


		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#pane1" data-toggle="tab"><img src="/static/img/info.png" height="24px" /><span class="hidden-sm hidden-xs"> Overview</span></a></li>
				<li><a href="#tasks" data-toggle="tab"><img src="/static/img/task.png" height="24px" /> <span class="hidden-sm hidden-xs">Tasks</span></a></li>
				<li><a href="#worklogs" data-toggle="tab"><img src="/static/img/work.png" height="24px" /><span class="hidden-sm hidden-xs"> Worklogs</span></a></li>
				<li><a href="#tree" data-toggle="tab"><img src="/static/img/tree.jpg" height="24px" /><span class="hidden-sm hidden-xs"> Tree</span></a></li>
				<li><a href="#members" data-toggle="tab"><img src="/static/img/members.png" height="24px" /><span class="hidden-sm hidden-xs"> Members</span></a></li>
				<li><a href="#tags" data-toggle="tab"><img src="/static/img/tag.png" height="24px" /><span class="hidden-sm hidden-xs"> Tags</span></a></li>

			</ul>
			<div class="tab-content">
				<div id="pane1" class="tab-pane active">
					<h4>Project Overview </h4>
						<p>Your Tags <a href="/projects/{{project.id}}/addtag">(add)</a>: {% for t in yourTags %} <a href="/projects/{{project.id}}/untag/{{t.id}}" title="Remove this Tag"><img src="/static/img/delete.png" width="24px" /></a>&nbsp;<a href="/projects/tags/{{t.id}}">{{t.name}}</a>,&nbsp;&nbsp;&nbsp;&nbsp; {% endfor %}</p>



						<ul class="list-unstyled">
							<li>Status: {{project.status}}</li>
							<li>Phase: {{project.phase}}</li>

							<li><img src="/static/img/work.png" width="32px" /> {{num_worklogs}} work items logged</li>
							<li><img src="/static/img/task.png" width="32px" /> {{num_tasks}} tasks created</li>
							<li><img src="/static/img/members.png" width="32px" /> {{num_members}} members</li>
						</ul>
				</div>
				<div id="tags" class="tab-pane">
					<h4><img src="/static/img/tag.png" />Your Tags 	<a href="/projects/{{project.id}}/addtag">(Add a Tag)</a></h4>
						<p>{% for t in yourTags %} <a href="/projects/{{project.id}}/untag/{{t.id}}" title="Remove this Tag"><img src="/static/img/delete.png" width="24px" /></a>&nbsp;<a href="/projects/tags/{{t.id}}">{{t.name}}</a>,&nbsp;&nbsp;&nbsp;&nbsp; {% endfor %}</p>
					<br />
					<hr />
					<h4><img src="/static/img/tag.png" />All Tags Visible to You</h4>
						<p>{% for t in tags %} <a href="/projects/tags/{{t.id}}"><img src="/static/img/tag.png" width="24px" />&nbsp;{{t.name}}</a>,&nbsp;&nbsp;&nbsp;&nbsp; {% endfor %}</p>

				</div>
				<div id="tasks" class="tab-pane">
					<h4><img src="/static/img/task.png" />Tasks {%if isMember and project.active %}<a href="/projects/addtask/{{project.id}}/">(Add)</a>{%endif%}</h4>
					{% if num_tasks < 1 %}
					<p>No tasks have been added to this project.</p>
					{% else %}
					<table class="table table-striped">
						<tr>
							<th>Summary</th>
							<th>Opened by</th>
							{% if isMember %}
							<th>Manage</th>
							{% endif %}
							<th>View</th>
						</tr>

						{% for t in tasks %}
						<tr>
							<td><a href="/projects/task/view/{{t.id}}">{{ t.summary }}</a></td>
							<td>{{t.creator}}</td>
							{% if not t.completed and isMember %}
							<td><a class="btn btn-warning" href="/projects/task/close/{{t.id}}/">Mark Completed</a></td>
							{% elif isMember %}
							<td><a class="btn btn-default" href="/projects/task/open/{{t.id}}/">Mark Unfinished</a></td>
							{% endif %}

							<td><a class="btn btn-info" href="/projects/task/view/{{t.id}}">View</a></td>

						</tr>

						{% endfor %}

					</table>
					{% endif %}
				</div>
				<div id="worklogs" class="tab-pane">
					<h4><img src="/static/img/work.png" />Logged Work {%if isMember and project.active %}<a href="/projects/addwork/{{project.id}}/">(Add)</a>{%endif%}</h4>
					{% if num_worklogs < 1 %}
					<p>No work has been logged on this project.</p>
					{% else %}
					<table class="table table-striped">
						<tr>
							<th>Summary</th>
							<th>Logged By</th>
							<th>Time</th>
							<th>View</th>
						</tr>

						{% for w in worklogs %}
						<tr>
							<td><a href="/projects/work/view/{{w.id}}/">{{w.summary}}</a></td>
							<td>{{w.owner}}</td>
							<td>{{w.datestamp}}</td>
							<td><a class="btn btn-info" href="/projects/work/view/{{w.id}}/">View</a></td>
						</tr>

						{% endfor %}

					</table>
					{% endif %}
				</div>
				<div id="tree" class="tab-pane">
					<br />

					<div class="panel panel-default">
						<div class="panel-heading"><h4><img src="/static/img/tree.jpg" width="64px" />Parents</h4>
						</div>

						<div class="panel-body">

					{% if num_parents < 1 %}
					<p>This is a top level project and has no parents.</p>
					{% else %}
					{% if canEdit %}
					<p style="display:inline;"><a class="btn btn-warning" href="/projects/totop/{{project.id}}" title="Promote to a top level project and remove subproject status and all parents.">Promote to Top Level Project</a></p>
					{% endif %}
					<table class="table table-striped">
						<tr>
							<th>Project</th>
							<th>Manager</th>
							<th>Tree</th>
							<th>View</th>
						</tr>


						{% for project in parents %}

						{% if project in owned %}
						<!--<h5><em>You manage this project. </em><a href="/projects/edit/{{project.id}}/">Edit Details</a></h5>-->
						{% endif %}
						<tr>
							<td><a href="/u/{{project.manager}}/projects/{{project.name}}">{{ project.name }}</a>{% if not project.active %} <em>(Closed)</em>{% endif %}</td>
							<td>{{project.manager}}</td>
							<!--<li>Description: {{project.description}}</li>-->
							<td>
								<a href="/projects/parents/{{project.id}}">Parents</a> / 
								<a href="/projects/children/{{project.id}}">Children</a>
							</td>
							<td><a href="/u/{{project.manager}}/projects/{{project.id}}/">View</a></td>
						</tr>
					</div>
					{% endfor %}
				</table>

				{% endif %}

						</div>

					</div>
					

				<div class="panel panel-default">
					<div class="panel-heading">	
						<h4>
							<img src="/static/img/tree.jpg" width="64px" />Subprojects
							{% if canEdit %}

							<a style="float:right;" class="btn btn-success" href="/projects/newsub/{{project.id}}">Create New Subproject</a>
							{% endif %}


						</h4>


					</div>

					<div class="panel-body">


				{% if num_children < 1 %}
				<p>This project has no subproject associated with it.</p>
				{% else %}
				<table class="table table-striped">
					<tr>
						<th>Project</th>
						<th>Manager</th>
						<th>Tree</th>
						<th>View</th>
					</tr>
					{% for project in children %}

					{% if project in owned %}
					<!--<h5><em>You manage this project. </em><a href="/projects/edit/{{project.id}}/">Edit Details</a></h5>-->
					{% endif %}
					<tr>
						<td><a href="/u/{{project.manager}}/projects/{{project.name}}">{{ project.name }}</a>{% if not project.active %} <em>(Closed)</em>{% endif %}</td>
						<td>{{project.manager}}</td>
						<!--<li>Description: {{project.description}}</li>-->
						<td>
							<a href="/projects/parents/{{project.id}}">Parents</a> / 
							<a href="/projects/children/{{project.id}}">Children</a>
						</td>
						<td><a href="/u/{{project.manager}}/projects/{{project.name}}/">View</a></td>
					</tr>
				</div>
				{% endfor %}


			</table> 
			{% endif %}   
					</div>

				</div>
				
		</div>
		<div id="members" class="tab-pane">
			<h4><img src="/static/img/members.png" />Project Members</h4>
			<p>Project members are allowed to add tasks and log work on the project.</p>

			<table class="table table-striped">
				<tr>
					<th>Member</th>
					<th>Manage</th>
				</tr>

				{% for u in members %}

				<tr>
					<td><a href="/user/profile/{{u}}">{{u}}</a></td>
					<td> {%if canEdit and u != project.manager %} <a class="btn btn-danger" href="/projects/removemember/{{project.id}}/{{u.id}}/">Unassign</a> {%endif%}

						{% if u == project.manager %}
						<p>Project Manager</p>
						{% endif %}

					</td>
				</tr>
				{% endfor %}

				<tr>

					<td>

						<form id="addProjectMember" action="/projects/addmember/{{project.id}}/" method="POST">{% csrf_token %}

							{% for field in add_member_form %}

							{{field}}

							{% endfor %}

						</td>
						<td>{%if canEdit %}<input type="submit" class="btn btn-success" value="Assign">
						</form>{% endif %}

					</tr>


				</table>
			</div>
			
		</div><!-- /.tab-content -->
	</div><!-- /.tabbable -->



	{% endblock %}