{% extends "base.html" %}

{% block title %} webtrack: Add Tag {% endblock %}

{% block content %}

  {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
          <div class="alert alert-danger">
      {% elif message.tags == 'warning' %}
        <div class="alert alert-warning">
      {% else %}
        <div class="alert alert-info">
      {% endif %}
              
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
  {% endif %}

	<h3><img src="/static/img/tag.png" />Create a new tag</h3>
	<form id="registerForm" action="{{postTo}}" method="post">{% csrf_token %} <!--Pass information back to the register url through the POST method-->

		{% for field in form %}
<fieldset class="form-group">
  <label class="control-label" for="id_{{ field.name }}">{{ field.name }}</label>
      {{field}}
      <p>{{field.help_text}}</p>
</fieldset>
{% endfor %}

		<input id="registerButton" class="btn btn-danger btn-large" type="submit" value="Create" style="border-radius: 1px;" />

	</form> <!--Close the form tag-->

{% endblock %}