{% extends "base.html" %}

{% block title %} webtrack: Add Tag {% endblock %}

{% block content %}

{% include 'template_messages.html' %}

	<h3><img src="/static/img/tag.png" />Create a new tag</h3>
	<form id="registerForm" action="{{postTo}}" method="post">{% csrf_token %} <!--Pass information back to the register url through the POST method-->

		{% for field in form %}
<fieldset class="form-group">
  <label class="control-label" for="id_{{ field.name }}">{{ field.name }}</label>
      {{field}}
      <p>{{field.help_text}}</p>
</fieldset>
{% endfor %}

		<input id="registerButton" class="btn btn-danger btn-large" type="submit" value="Create" style="border-radius: 1px;" />

	</form> <!--Close the form tag-->

{% endblock %}