{% extends "base.html" %}

{% block title %} webtrack: add issue {% endblock %}

{% block content %}

	<h3>Add a task for {{project.name}}</h3>
	<form id="registerForm" action="/projects/addtask/{{project.id}}/" method="post">{% csrf_token %} <!--Pass information back to the register url through the POST method-->

		{% for field in form %}

			<div>{{field}}</div>

		{% endfor %}
		<p><em>Members can be assigned after the task is created</em></p>

		<input id="registerButton" class="btn btn-danger btn-large" type="submit" value="Create" style="border-radius: 1px;" />

	</form> <!--Close the form tag-->

{% endblock %}