{% extends "base.html" %}

{% block title %} Project Tasks {% endblock %}

{% block content %}

	<h1><img src="/static/img/task.png" />Tasks for <a href="/projects/view/{{project.id}}">{{project.name}}</a></h1>

	{% if num_projects == 0 %}
		<p class="error">No work logged.</p>
	{% endif %}

	{% if project.active %}
	<p><a href="/projects/addtask/{{project.id}}">Add a task</a></p>
	{% else %}
	<p><em>This project is closed. Tasks cannot be added to closed projects.</em></p>
	{% endif %}

		<table class="table table-striped">
		<tr>
			<th>Summary</th>
			<th>Start Date</th>
			<th>Opened by</th>
			<th>Change Status</th>
			<th>View</th>
		</tr>

	{% for t in tasks %}
		<tr>
			<td><a href="/projects/task/view/{{t.id}}">{{ t.summary }}</a></td>
			<td>{{t.startDate}}</td>
			<td>{{t.creator}}</td>
			{% if project in t.openOn.all %}
				<td><a class="btn btn-warning" href="/projects/{{project.id}}/closetask/{{t.id}}/">Mark Completed</a></td>
			{% else %}
				<td><a class="btn btn-default" href="/projects/{{project.id}}/opentask/{{t.id}}/">Mark Unfinished</a></td>
			{% endif %}
			<td><a class="btn btn-info" href="/projects/task/view/{{t.id}}/">View</a></td>
		</tr>

	{% endfor %}

</table>

{% endblock %}