{% extends "base.html" %}

{% block title %} Add Task {% endblock %}

{% block content %}

{% include 'template_messages.html' %}

<form id="registerForm" action="/projects/addtask/{% if project %}{{project.id}}/{% endif %}" method="post">{% csrf_token %}

<h3><img src="/static/img/task.png" />Add a task {% if project %} for {{project.name}} &nbsp;&nbsp;&nbsp; <input name="useexisting" class="btn btn-success" type="submit" value="Choose an existing task instead" />{% endif %}</h3>

		{% for field in form %}
		<fieldset class="form-group">
			<label class="control-label" for="id_{{ field.name }}">{{ field.name }}</label>
			<input type="text" class="form-control"
			name="{{ field.name }}"
			id="id_{{ field.name }}"
			value="{{ field.value }}" /> 
			<p class="help-text">{{ field.help_text }} </p>
		</fieldset>
		{% endfor %}

		<input name="returnUrl" type="hidden" value="{{ returnUrl }}" />


		{% if not project %}
		<input id="submitBtn" class="btn btn-success" type="submit" value="Create and Assign to Project" name="saveandassign" />
		{% endif %}

		<input id="registerButton" name="save" class="btn btn-success btn-large" type="submit" value="Create" />

	</form> <!--Close the form tag-->

{% endblock %}