{% extends "base.html" %}

{% block title %} webtrack: task view {% endblock %}

{% block content %}
	<h2>{{task.summary}} {%if task.completed%}(Completed){%endif%}</h2>
	<p><em>Opened by {{task.creator}} on <a href="/projects/view/{{project.id}}/">{{task.project.name}}</a> {%if canEdit %}<a href="/projects/task/edit/{{task.id}}">(Edit/Delete)</a>{%endif%}</em></p>

	<h3>Project Details</h3>
		<div class="well">
			<ul>
				<li>Name: {{project.name}}</li>
				<li>Status: {{project.status}}</li>
				<li>Phase: {{project.phase}}</li>
				<li>Description: {{project.description}}</li>
			</ul>
		</div>

	<h3>Task Detail</h3>
	<div class="well">
		<h5>{{task.summary}}</h5>
		<p>{{task.datestamp}}</p>
		<p>{{task.description}}</p>
	</div>

	<h3>Task Assignees</h3>
		<div class="well">
		<ul>
			<li>{{task.creator}}</li>
			{% for u in members %}
			<li>{{u}} {%if canEdit %} <a href="/projects/task/removemember/{{task.id}}/{{u.id}}/">(Remove)</a> {%endif%}</li>
			{% endfor %}
		</ul>

		<form id="addProjectMember" action="/projects/task/addmember/{{task.id}}/" method="POST">{% csrf_token %}

			{% for field in add_member_form %}

				<div>{{field}}</div>

			{% endfor %}

		</form>
	</div>



{% endblock %}