{% extends "base.html" %}

{% block title %} My Todo {% endblock %}

{% block content %}

{% include 'template_messages.html' %}
	<h1>
		<img src="/static/img/task.png" />
		{% if notodo %}
		Tasks You've Created
		{% else %}
		My Todo
	{% endif %}
	</h1>


	{%if notodo %}
	<p>Your task list shows all the tasks you've created. <a href="/projects/todo">View your assigned tasks (todo) instead.</a></p>
	{% else %}
	<p>Your Todo list contains a list of open tasks for projects that you have had assigned to you. <a href="/projects/usertasks">View all Tasks you've created instead.</a></p>
	{% endif %}
	<p class="pull-right">
		<a class="btn btn-success" href="/projects/addtask">Add a Task</a>
		<a class="btn btn-info" href="/projects/filter/addtasktag/">Filter Tasks</a>
	</p>


	<div class="clearfix"></div>

	<div class="row">
		<div class='col-md-3 hidden-sm hidden-xs side-filters' style="margin-top:-30px;">
			<br />
			<br />
			<fieldset>
				<legend>Tags</legend>
				<ul class='nav nav-pills nav-stacked'>
					<p class="small">Click filters to turn them on and off</p>
					{% for t in tags %}

					<li class="{% if t in filters%}active{%endif%}">

						<a href=
						{% if t in filters %}
						"/projects/rmtaskfilter/{{t.id}}/"
						{% else %}
						"/projects/filter/addtasktag/{{t.id}}/"
						{% endif %}

						>{{t.name}}</a>

					</li>

					{% endfor %}

				<legend>Filter by Project</legend>
					<ul class='nav nav-pills nav-stacked'>
					{% for p in projects %}

					<li class="{% if p in filters%}active{%endif%}">

						<a href=
						{% if p in filters %}
						"/projects/filter/tasknotbyproject/{{p.id}}/"
						{% else %}
						"/projects/filter/taskbyproject/{{p.id}}/"
						{% endif %}

						>{{p.name}}</a>

					</li>

					{% endfor %}

					
		</ul>
	</fieldset>
</div>



<div class='col-md-9'>

	{% if num_tasks == 0 %}
		<div class="panel panel-inverse">
			<div class="panel-heading"><h4>No tasks found. Try adjusting your filter settings or if you're new, <a href="/projects/addtask">create a task</a></h4></div>

		</div>
	{% endif %}

{% if wip_num %}


<div class="panel panel-inverse">
	<div class="panel-heading"><h4><img width="32px" src="/static/img/task.png" />Tasks In Progress ({{wip_num}})</h4>
	</div>
	<div class="panel-content">
		<table class="table table-striped">
		<tr>
			<th>Summary</th>
			<th class="hidden-sm hidden-xs">Start Date</th>
			<th class="hidden-sm hidden-xs">Opened by</th>
			<th>Change Status</th>
			<th class="hidden-sm hidden-xs">Edit</th>
		</tr>

	{% for t in task_wip %}
		<tr>
			<td><a href="/projects/task/view/{{t.id}}">{{ t.summary }}</a></td>
			<td class="hidden-sm hidden-xs">{{t.startDate}}</td>
			<td class="hidden-sm hidden-xs">{{t.creator}}</td>
			{% if not t.completed %}
				<td><a class="btn btn-warning" href="/projects/task/close/{{t.id}}/">Mark Completed</a></td>
			{% else %}
				<td><a class="btn btn-default" href="/projects/task/open/{{t.id}}/">Mark Unfinished</a></td>
			{% endif %}
			<td class="hidden-sm hidden-xs"><a class="btn btn-info" href="/projects/task/edit/{{t.id}}/">Edit</a></td>
		</tr>

	{% endfor %}

</table>

{% if showmore %}
<p style="text-align:right; margin-right:20px;"><strong><a href="other">Show All</a></strong></p>
{% endif %}
</div>
</div>
	{% endif %}


{% if other_num > 0 %}
<div class="panel panel-inverse">
	<div class="panel-heading"><h4><img width="32px" src="/static/img/task.png" />{{other_name}} ({{other_num}})</h4></div>
	<div class="panel-content">
		<table class="table table-striped">
		<tr>
			<th>Summary</th>
			<th class="hidden-sm hidden-xs">Start Date</th>
			<th class="hidden-sm hidden-xs">Opened by</th>
			<th>Change Status</th>
			<th class="hidden-sm hidden-xs">Edit</th>
		</tr>

	{% for t in tasks %}
		<tr>
			<td><a href="/projects/task/view/{{t.id}}">{{ t.summary }}</a></td>
			<td class="hidden-sm hidden-xs">{{t.startDate}}</td>
			<td class="hidden-sm hidden-xs">{{t.creator}}</td>
			{% if not t.completed %}
				<td><a class="btn btn-warning" href="/projects/task/close/{{t.id}}/">Mark Completed</a></td>
			{% else %}
				<td><a class="btn btn-default" href="/projects/task/open/{{t.id}}/">Mark Unfinished</a></td>
			{% endif %}
			<td class="hidden-sm hidden-xs"><a class="btn btn-info" href="/projects/task/edit/{{t.id}}/">Edit</a></td>
		</tr>

	{% endfor %}

</table>
{% if showmore %}
<p style="text-align:right; margin-right:20px;"><strong><a href="other">Show All</a></strong></p>
{% endif %}
</div>
</div>
	{% endif %}

	{% if done_num > 0 %}
<div class="panel panel-inverse">
	<div class="panel-heading"><h4><img width="32px" src="/static/img/task.png" />Finished tasks ({{done_num}})</h4></div>
	<div class="panel-content">
		<table class="table table-striped">
		<tr>
			<th>Summary</th>
			<th class="hidden-sm hidden-xs">Start Date</th>
			<th class="hidden-sm hidden-xs">Opened by</th>
			<th>Change Status</th>
			<th class="hidden-sm hidden-xs">Edit</th>
		</tr>

	{% for t in done_tasks %}
		<tr>
			<td><a href="/projects/task/view/{{t.id}}">{{ t.summary }}</a></td>
			<td class="hidden-sm hidden-xs">{{t.startDate}}</td>
			<td class="hidden-sm hidden-xs">{{t.creator}}</td>
			{% if not t.completed %}
				<td><a class="btn btn-warning" href="/projects/task/close/{{t.id}}/">Mark Completed</a></td>
			{% else %}
				<td><a class="btn btn-default" href="/projects/task/open/{{t.id}}/">Mark Unfinished</a></td>
			{% endif %}
			<td class="hidden-sm hidden-xs"><a class="btn btn-info" href="/projects/task/edit/{{t.id}}/">Edit</a></td>
		</tr>

	{% endfor %}

</table>
{% if showmore %}
<p style="text-align:right; margin-right:20px;"><strong><a href="other">Show All</a></strong></p>
{% endif %}
</div>

</div>
	{% endif %}

</div>
{% endblock %}