{% extends "base.html" %}

{% block title %} My Todo {% endblock %}

{% block content %}

{% include 'template_messages.html' %}

	{% if notodo %}
	<h1>Tasks You've Created</h1>
	{% else %}
	<h1>My Todo</h1>
	{% endif %}


	{%if notodo %}
	<p>Your task list shows all the tasks you've created. <a href="/projects/todo">View your assigned tasks (todo) instead.</a></p>
	{% else %}
	<p>Your Todo list contains a list of open tasks for projects that you have had assigned to you. <a href="/projects/usertasks">View all Tasks you've created instead.</a></p>
	{% endif %}
	<p>
		<a class="btn btn-success" href="/projects/addtask">Add a Task</a>
		<a class="btn btn-info" href="/projects/filter/addtasktag/">Filter Tasks</a>
	</p>

	{% if num_tasks == 0 %}
		<p class="error">Hey! Looks like you don't have any tasks!</p>
	{% endif %}

	{% if wip_num %}

<div class="panel panel-inverse">
	<div class="panel-heading"><h4><img width="32px" src="/static/img/task.png" />Tasks In Progress</h4></div>
	<div class="panel-content">
	<table class="table table-striped">
		<tr>
			<th>Summary</th>
			<th>Start Date</th>
			<th>Opened by</th>
			<th>Manage</th>
		</tr>

	{% for t in task_wip %}
		<tr>
			<td><a href="/projects/task/view/{{t.id}}">{{ t.summary }}</a></td>
			<td>{{t.startDate}}</td>
			<td>{{t.creator}}</td>
			<td><a href="/projects/task/edit/{{t.id}}/">Edit</a></td>
		</tr>

	{% endfor %}


	</table>
</div>
</div>
	{% endif %}


	{% if other_num > 0 %}
<div class="panel panel-inverse">
	<div class="panel-heading"><h4><img width="32px" src="/static/img/task.png" />Tasks not in progress</h4></div>
	<div class="panel-content">
	<table class="table table-striped">
		<tr>
			<th>Summary</th>
			<th>Start Date</th>
			<th>Opened by</th>
			<th>Manage</th>
		</tr>

	{% for t in tasks %}
		<tr>
			<td><a href="/projects/task/view/{{t.id}}">{{ t.summary }}</a></td>
			<td>{{t.startDate}}</td>
			<td>{{t.creator}}</td>
			<td><a href="/projects/task/edit/{{t.id}}/">Edit</a></td>
		</tr>

	{% endfor %}

	</table>
</div>
</div>
	{% endif %}
{% endblock %}