{% extends "base.html" %}

{% block title %} webtrack: projects {% endblock %}

{% block content %}

	<h1>Work logged on <a href="/projects/view/{{project.id}}">{{project.name}}</a></h1>

	{% if num_projects == 0 %}
		<p class="error">No work logged.</p>
	{% endif %}

	<p><a href="/projects/addwork/{{project.id}}">Add a log</a></p>

	{% for l in logs %}

		<div class="well well-small">
			<h4><a href="/projects/work/view/{{l.id}}">{{ l.summary }}</a></h4>
			{% if project in owned %}
			<h5><em>You manage this project. </em><a href="/projects/edit/{{project.id}}/">Edit Details</a></h5>
			{% endif %}
				<p>Logged: {{l.datestamp}} by {{l.owner}}</p>
				<p><a href="/projects/work/edit/{{l.id}}/">Edit</a></p>
		</div>
	{% endfor %}

{% endblock %}