{% extends "base.html" %}

{% block title %} webtrack: Register {% endblock %}

{% block content %}

{% include 'template_messages.html' %}

	<div>

	<h3><img src="/static/img/work.png" />Edit Worklog</h3>
	<form id="registerForm" action="/projects/work/edit/{{worklog.id}}/" method="post">{% csrf_token %} <!--Pass information back to the register url through the POST method-->

		{% for field in form %}
<fieldset class="form-group">
  <label class="control-label" for="id_{{ field.name }}">{{ field.name }}</label>
      <input type="text" class="form-control"
        name="{{ field.name }}"
        id="id_{{ field.name }}"
        value="{{ field.value }}" > 
        <p class="help-text">{{ field.help_text }} </p>
</fieldset>
{% endfor %}

		<input id="registerButton" class="btn btn-success btn-large" type="submit" value="Save" style="border-radius: 1px;" />
		<a class="btn btn-danger btn-large" href="/projects/work/view/{{worklog.id}}/">Cancel</a>

	</form> <!--Close the form tag-->

</div>

{% endblock %}