{% extends "base.html" %}

{% block title %} Toolshare: Login {% endblock %}

{% block content %}

	{% if form.errors %}
		<p class="error">Sorry, that's not a valid username/password</p>
	{% endif %}

	{% if messages %}
    	{% for message in messages %}
			{% if message.tags == 'error' %}
    			<div class="alert alert-danger">
			{% elif message.tags == 'warning' %}
				<div class="alert alert-warning">
			{% else %}
				<div class="alert alert-info">
			{% endif %}
							
    		<button type="button" class="close" data-dismiss="alert">&times;</button>
    			{{ message }}
    		</div>
    	{% endfor %}
	{% endif %}
	<h2>{{worklog.summary}}</h2>
	<p><em>Logged by {{worklog.owner}} on {{worklog.project.name}} {%if canEdit %}<a href="/projects/work/edit/{{worklog.id}}">(Edit/Delete)</a>{%endif%}</em></p>

	<h3>Project Details</h3>
		<div class="well">
			<ul>
				<li>Name: {{project.name}}</li>
				<li>Status: {{project.status}}</li>
				<li>Phase: {{project.phase}}</li>
				<li>Description: {{project.description}}</li>
			</ul>
		</div>

	<h3>Work Detail</h3>
	<div class="well">
		<h5>{{worklog.summary}} - {{worklog.hours}}:{{worklog.minutes}}</h5>
		<p>{{worklog.datestamp}}</p>
		<p>{{worklog.description}}</p>
	</div>



{% endblock %}