{% extends "base.html" %}

{% block title %} webtrack: projects {% endblock %}

{% block content %}

	<h1>Work logged on <a href="/projects/view/{{project.id}}">{{project.name}}</a></h1>

	{% if num_projects == 0 %}
		<p class="error">No work logged.</p>
	{% endif %}
	{% if project.active %}
	<p><a href="/projects/addwork/{{project.id}}">Add a log</a></p>
	{% else %}
	<p><em>This project is closed. Work cannot be added to closed projects.</em></p>
	{% endif %}


	<table class="table table-striped">
		<tr>
			<th>Logged by</th>
			<th>Logged on</th>
			<th>Summary</th>
			<th>Manage Log</th>


		</tr>

	{% for l in logs %}

	<tr>
		<td>{{l.owner}}</td>
		<td>{{l.datestamp}}</td>
		<td>{{l.summary}}</td>
		<td><a href="/projects/work/edit/{{l.id}}/">Edit</a> / <a href="/projects/work/view/{{l.id}}/">View</a></td>

	</tr>

	{% endfor %}

	</table>

{% endblock %}