{% extends "base.html" %}

{% block title %} View Worklog {% endblock %}

{% block content %}

{% include 'template_messages.html' %}

    <div style="display:inline;">
              <img src="/static/img/work.png" style="float: left"/>

      <div style="display:table-cell">
        <h3 style="margin-bottom:0px;margin-top:5px;float:left;">
          <a href="/u/{{worklog.owner}}/">{{worklog.owner}}</a> / <a href="/u/{{worklog.owner}}/work/">work</a> / <strong>{{worklog.id}}</strong></h3>
          <br />
        <h4 style="margin-top:0px;float:left;"><small>{{worklog.summary|truncatechars:50}}</small></h4>
      </div>
    </div>

    <br />
    <br />

	<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#overview" data-toggle="tab"><img src="/static/img/info.png" width="24px" /> Overview</a></li>
    {% if canEdit %}
    <li><a href="#edit" data-toggle="tab"><img src="/static/img/edit.png" width="24px" /> Edit</a></li>
    {% endif %}

  </ul>
  <div class="tab-content">
    <div id="overview" class="tab-pane active">

  <h3>{{worklog.summary}}</h3>
  <p>{{worklog.description}}</p>

        <h3>Day</h3>
        <h4>{{worklog.datestamp}}</h4>
        <h3>Duration</h3>
        <h4>{{worklog.hours}} <small>hours</small> {{worklog.minutes}} <small>minutes</small></h4>
        <h3>Project</h3>
        <h4><a href="/u/{{worklog.project.manager}}/projects/{{worklog.project.name}}/">{{worklog.project.name}}</a></h4>

    </div>
    {% if canEdit %}
    <div id="edit" class="tab-pane">
    	<form id="registerForm" action="/work/edit/{{worklog.id}}/" method="post">{% csrf_token %} <!--Pass information back to the register url through the POST method-->

		{% for field in form %}
<fieldset class="form-group">
  <label class="control-label" for="id_{{ field.name }}">{{ field.name }}</label>
      {{field}}
</fieldset>
{% endfor %}

		<input id="registerButton" class="btn btn-success btn-large" type="submit" value="Save" style="border-radius: 1px;" />
		<a class="btn btn-danger btn-large" href="/work/{{worklog.id}}/">Cancel</a>

	</form> <!--Close the form tag-->
  </div><!-- /.tab-content -->
      {% endif %}

</div><!-- /.tabbable -->



{% endblock %}
