{% extends "base.html" %}

{% block title %} Create Worklog {% endblock %}

{% block content %}

{% include 'template_messages.html' %}

	<h3><img src="/static/img/work.png" />Add a worklog to {{project.name}}</h3>
	<form id="registerForm" action="/work/new/{{project.id}}/" method="post">{% csrf_token %} <!--Pass information back to the register url through the POST method-->

		{% for field in form %}
<fieldset class="form-group">
      {{field}}
</fieldset>
{% endfor %}

		<input id="registerButton" class="btn btn-danger btn-large" type="submit" value="Create" style="border-radius: 1px;" />

	</form> <!--Close the form tag-->

{% endblock %}
