{% extends "base.html" %}

{% block title %} Project Work {% endblock %}

{% block content %}

{% if project %}
	<h1><img src="/static/img/work.png" />Work logged on <a href="/projects/view/{{project.id}}">{{project.name}}</a></h1>

	{% if num_projects == 0 %}
		<p class="error">No work logged.</p>
	{% endif %}
	{% if project.active %}
	<p><a href="new/{{project.id}}">Add a log</a></p>
	{% else %}
	<p><em>This project is closed. Work cannot be added to closed projects.</em></p>
	{% endif %}

	{% else %}
	<h1><img src="/static/img/work.png" />{{owner.username}}'s Worklogs</h1>
{% endif %}

{% if num_logs < 1 %}
<h4>No work has been logged yet.</h4>
{% else %}

	<table class="table table-striped">
		<tr>
			<th>Logged by</th>
			<th>Logged on</th>
			<th>Summary</th>
			<th>Manage Log</th>


		</tr>

	{% for l in logs %}

	<tr>
		<td>{{l.owner}}</td>
		<td>{{l.datestamp}}</td>
		<td><a href="/work/{{l.id}}/">{{l.summary}}</a></td>
		<td><a class="btn btn-info" href="/projects/work/edit/{{l.id}}/">Edit</a></td>

	</tr>

	{% endfor %}

	</table>
	{% endif %}

{% endblock %}
