{% load static %}

<!DOCTYPE html>
<html>

	<head>

		<title>{% block title %}{% endblock %}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">

		<link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500' rel='stylesheet' type='text/css'>

	</head>

	<style>
		body { 
		  /*background: url({% static 'img/googleLight.png' %}) no-repeat center center fixed; */
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}

	</style>

	<body>
		<!--START OF: Login Form-->

		<div class='container text-center'>

			<div class='content'>
				<div class='row'>
					<br />
					<br />
					<br />
					<div id="loginRegisterBase" style="font-family: 'Dosis'; color: #33332D; margin-top: 5%;">
						<h1 style="font-size: 5em; font-weight: 300; margin-bottom: 3%;">Web Project Tracking</h1>
					</div>

					{% block content %}

					{% endblock %}

					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
							Hey there! This is an experimental app. Security/reliability is not guaranteed.
					</div>

				</div>
			</div> <!--END OF: Login Form-->

		</div>


	</body>

</html>