{% load static %}

<!DOCTYPE html>
<html>

	<head>

		<title>{% block title %}{% endblock %}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">

		<link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500' rel='stylesheet' type='text/css'>

	</head>

	<style>
		body { 
		  /*background: url({% static 'img/googleLight.png' %}) no-repeat center center fixed; */
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}

	</style>

	<body>
		<!--START OF: Login Form-->

		<div class='container'>

			<div class='content'>
				<div class='row'>
					<br />
					<br />
					<br />
					<div class="well">

						<div id="loginRegisterBase">
							<h1>Subproject </h1>
							<p>Subproject knows that your projects and tasks grow and evolve. With Subproject, your tasks can become projects, and your projects can contain other projects. Keep track of your projects, tasks, and work.</p>
						</div>


						{% block content %}



						{% endblock %}

						</div>

				</div>
			</div> <!--END OF: Login Form-->

		</div>


	</body>

</html>