{% extends "login_register_base.html" %}

{% block title %} webtrack: Register {% endblock %}

{% block content %}

	<form id="registerForm" action="/user/register/" method="post">{% csrf_token %} <!--Pass information back to the register url through the POST method-->

		{% for field in form %}

			<div>{{field}}</div>

		{% endfor %}

		<input id="registerButton" class="btn btn-danger btn-large" type="submit" value="Register" style="border-radius: 1px;" />

	</form> <!--Close the form tag-->

{% endblock %}