{% extends "base.html" %}

{% block title %} Tags {% endblock %}

{% block content %}

	{% include 'template_messages.html' %}

	<h1><img src="/static/img/tag.png" />My Tags</h1>
	{% if num_tags == 0 %}
		<h4>No tags found. Get started by <a href="new">creating a tag</a>.</h4>
	{% else %}

	<p><a class="btn btn-success" href="new">Create a Tag</a></p>

	<table class="table table-striped">
		<tr>
			<th><img src="/static/img/tag.png" width="24px" />Tag Name</th>
			<th>Owner</th>
			<th>Your Role</th>
			<th>Filter</th>
			<th><img src="/static/img/edit.png" width="24px" />Edit</th>
		</tr>
	{% for t in tags %}

			{% if project in owned %}
			<!--<h5><em>You manage this project. </em><a href="/projects/edit/{{project.id}}/">Edit Details</a></h5>-->
			{% endif %}
			<tr>
				<td><a href="{{t.id}}/">{{ t.name }}</a></td>
				<td>{{t.owner}}</td>
				<td>{% if t.owner == user %}Owner{% elif user in t.users.all %}User{% else %}Viewer{% endif %}</td>
				<td><a href="/projects/addtagfilter/{{t.id}}/">Filter with this tag</a></td>
				<!--<li>Description: {{project.description}}</li>-->
				<td>{% if t.owner == user or user in t.users.all %}<a href="{{t.id}}/#edit">Edit</a>{% else %}You can only view this tag.{% endif %}</td>
			</tr>
		</div>
	{% endfor %}

	</table>
	
	{% endif %}

{% endblock %}
