{% extends "base.html" %}

{% block title %} Edit Task {% endblock %}

{% block content %}

{% include 'template_messages.html' %}
	<div>

	<h3><img src="/static/img/task.png" />Edit Task</h3>
	<form id="registerForm" action="/projects/task/edit/{{task.id}}/" method="post">{% csrf_token %} <!--Pass information back to the register url through the POST method-->

{% for field in form %}
<fieldset class="form-group">
<label class="control-label" for="id_{{ field.name }}">{{ field.name }}</label>
	{{field}}
	<p>{{field.help_text}}</p>
</fieldset>
{% endfor %}

		<input class="btn btn-success" type="submit" value="Save" />
		<a class="btn btn-warning" href="/projects/task/view/{{task.id}}/">Cancel</a>

		<span style="float:right;">
		<a class="btn btn-warning" href="/projects/task/tosubproject/{{task.id}}">Convert to Project</a>
		<a class="btn btn-danger" href="/projects/task/delete/{{task.id}}/">Delete Task</a>
		</span>

	</form> <!--Close the form tag-->

</div>

{% endblock %}
