{% extends "base.html" %}

{% block title %} Select Project {% endblock %}

{% block content %}

	<h1><img src="/static/img/task.png" />Select a Task</h1>
	<p class="danger"><strong>Tasks that are already associated with a different project will be moved to the current project if you select them.</strong></p>

	{% if num_projects == 0 %}
		<p class="error">You are not a member of any projects.</p>
	{% endif %}

	<table class="table table-striped">
		<tr>
			<th>Task Summary</th>
			<th>In Progress</th>
			<th>Select</th>
		</tr>
	{% for t in tasks %}


			<tr>
				<td><a href="/projects/task/view/{{t.id}}">{{ t.summary }}</a></td>
				<td>{% if t.inProgress %}Yes{% else %}No{% endif %}</td>
				<!--<li>Description: {{project.description}}</li>-->
				{% if t.project == None %}
				<td><a class="btn btn-success" href="{{t.id}}/">Select</a></td>
				{% else %}
				<td><a class="btn btn-warning" href="{{t.id}}/">Move to this project</a></td>
				{% endif %}


			</tr>

	{% endfor %}

	</table>

	<p>No projects listed? All of your projects may already be associated with this task or project.</p>

{% endblock %}